@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET MVC Application using:</h1>
    <ul>
        <li>.NET Framework 4.7.2</li>
        <li>Entity Framework</li>
        <li>Automapper</li>
        <li>SimpleInjector</li>
        <li>DDD Pattern</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sobre</h2>
        <a href="https://www.linkedin.com/in/e-junior-moreira-4049a342">LinkedIn</a>
    </div>
    <div class="col-md-4">
        <h2>Contato</h2>
        <address>
            <strong>E-mail:</strong>   <a href="mailto:ejr.mmoreira@gmail.com">ejr.mmoreira@gmail.com</a><br />
        </address>
    </div>   
</div>